:root{
  font-family: DotGothic16;
  --Text-Color: #FFFFFF;
  --Color-BG: #f56c5f;
}

body{
margin-top: 120px;
background-color: var(--Color-BG);
}

/* Body */

.pokedex-title{
  text-align: center;
  color: var(--Text-Color);
}




/* JS Content in Body  */


.pokedex-section{
  background-color: #FFFFFF;
  margin: 0 23% 0 23%;
  box-shadow: 4px 15px grey;
  padding: 4%;

}

.addPokemon{
  text-align: left;
  float: left;
}

.pokemon-list{
  margin-top: 5%;
  text-align: center;
  text-align: left;
  list-style-type: none;
}

/* Buttons */

#subButton{
  background-color: var(--Color-BG);
  font-size: 12px;
  width: 50px;
  margin-top: 12px;
}

.pikachuImage{
  height: 90px;
  width: 80px;
  position: static;
  float: right;
  margin-top: 30px;
}

/* Loading GIF */
.loadingImage{
  display: none;
  margin-top: 150px;
}

.show{
 display: block;
}

.btn-outline-secondary:hover{
  background-color: var(--Color-BG);
}


/* Modal */

.pokemonImage{
  height: 200px;
  width: auto;
  padding: 0 25% 0 25%;
}

#URL-Help{
font-size: 10px;
}


.pokedexBox{
  height: 200px;
  width: 350px;
  background-color: lightgrey;

}

.previewImg{
  height: 200px;
  width: 300px;
  float: inherit;
}

.icon{
  opacity: 0.2;
  width: 100px;
  height: 80px;
  margin-left: 95px;
  margin-top: 80px;
}

.scrollableList{
  max-height:380px;
  overflow:auto;
}
