:root{
  font-family: DotGothic16;
  --Text-Color: #FFFFFF;
  --Color-BG: #f56c5f;
}

body{
margin: 20px;
background-color: var(--Color-BG);
}

header{
  width: 100%;
  display: inline-block;
}



/* Navi Bar elements */


.menuLogo{
  width: 120px;
  float: left;
}

.navigation_item{
  display: inline-block;
  text-decoration: none;
  padding: 0 5px;
}

.navigation_list{
  float: right;
}

.menu_item{
  color: var(--Text-Color);
}

/* Body */

.pokedex-title{
  text-align: center;
  color: var(--Text-Color);
}



/* JS Content in Body  */


.pokedex-section{
  background-color: #FFFFFF;
  text-align: left;
  margin: 0 5% 0 5%;
  box-shadow: 4px 15px grey;
  padding: 4%;
}

.addPokemon{
  margin-bottom: 50px;
  text-align: left;
}


/* Buttons */

#subButton{
  border: solid 3px lightgrey;
  border-radius: 15px 50px 30px;
  background-color: var(--Color-BG);
  color: var(--Text-Color);
  width: 100px;
}

.pikachuImage{
  height: 90px;
  width: 80px;
  position: static;
  float: right;
  margin-top: 30px;
}


.button-class{
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
  width: 130px;
}
