:root {
  --Text-Color: #FFFFFF;
  --Color-BG: #f56c5f;
}

body {
  margin-top: 120px;
  background-color: var(--Color-BG);
}

/* Body */
.pokedex-title {
  text-align: center;
  color: var(--Text-Color);
}

/* JS Content in Body  */
.pokedex-section {
  background-color: var(--Text-Color);
  margin: 0 23% 0 23%;
  box-shadow: 4px 15px grey;
  padding: 4%;
}

.addPokemon {
  text-align: left;
  float: left;
}

.pokemon-list {
  margin-top: 5%;
  text-align: left;
  list-style-type: none;
}

/* Buttons */
#subButton {
  background-color: var(--Color-BG);
  font-size: 12px;
  width: 50px;
  margin-top: 12px;
}

#pokemonModalButton {
  background-color: var(--Color-BG);
  font-size: 12px;
  margin-top: 12px;
}

.pikachuImage {
  height: 90px;
  width: 80px;
  position: static;
  float: right;
  margin-top: 30px;
}

/* Loading GIF */
.loadingImage {
  display: none;
}

.show {
  display: block;
}

.btn-outline-secondary:hover {
  background-color: var(--Color-BG);
}

/* Modal */
.pokemonImage {
  height: 200px;
  width: auto;
  padding: 0 25% 0 25%;
}

#URL-Help {
  font-size: 10px;
}

.pokedexBox {
  background-color: lightgrey;
}

.previewImg {
  float: inherit;
}

.icon {
  opacity: 0.03;
}

.scrollableList {
  max-height: 350px;
  overflow: auto;
}

.previewData .previewTitle {
  font-size: 20px;
}

.previewData p {
  font-size: 12px;
  margin-bottom: 0;
}
